.structured-embed.mod-empty,
.markdown-source-view.mod-cm6 .cm-content > .structured-embed.mod-empty {
  display: flex;
  align-items: center;
}

.structured-embed .structured-icon {
  --icon-size: var(--icon-s);
}

.structured-embed.mod-empty .structured-icon {
  margin: 0px 8px;
}

.structured-embed.markdown-embed .structured-icon {
  margin: 4px;
}

.structured-folder-suggest .suggestion-item {
  word-break: break-all;
}

.suggestion-width-dynamic {
  width: var(--suggestion-width);
}
