.structured-embed.mod-empty,
.markdown-source-view.mod-cm6 .cm-content > .structured-embed.mod-empty {
  display: flex;
  align-items: center;
}

.structured-embed .structured-icon {
  --icon-size: var(--icon-s);
}

.structured-embed.mod-empty .structured-icon {
  margin: 0px 8px;
}

.structured-embed.markdown-embed .structured-icon {
  margin: 4px;
}

.structured-folder-suggest .suggestion-item {
  word-break: break-all;
}

.suggestion-width-dynamic {
  width: var(--suggestion-width);
}

.suggestion-item .suggestion-path {
  font-size: 0.85em;
  color: var(--text-muted);
}

.structured-rename-modal {
  --modal-width: 500px;
  --modal-min-width: 300px;
  --modal-max-width: 1000px;
}

.structured-rename-modal .structured-rename-input-container {
  padding: 0 20px;
  margin-bottom: 1em;
}

.structured-rename-modal .structured-rename-input {
  width: 100%;
  padding: 12px 10px;
  font-size: 15px;
  height: 25px;
}

.structured-rename-modal .setting-item {
  border-top: none;
  padding-top: 0;
  justify-content: flex-end;
}
